@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --bg: #000000;
  --primary: #BDDCFC;
  --secondary: #323848;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--bg);
  font-size: 13px;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

@media (max-width: 600px) {
  .column_left {
    display: none;
  }
}

